@media only screen and (max-width: 768px) {
  .card-media-text > h5,
  p {
    text-align: center;
  }
}
.background-color>img{
    border-radius: 10px;
  background-color: rgba(219, 213, 213, 0.329);
}
